#!/bin/sh
export DJANGO_SETTINGS_MODULE="{{ app_settings_module }}"
export DJANGO_SECRET_KEY="{{ app_secret_key }}"
export MEDIA_ROOT="{{ app_media_dir }}"
export STATIC_ROOT="{{ app_static_dir }}"
export DATABASE_NAME="{{ app_db_name }}"
export DATABASE_USER="{{ app_db_user }}"
export DATABASE_PASSWORD="{{ app_db_password }}"
