#!/bin/sh
export DJANGO_SETTINGS_MODULE="{{ project_settings_module }}"
export DJANGO_SECRET_KEY="{{ secret_key }}"
export MEDIA_ROOT="{{ media_dir }}"
export STATIC_ROOT="{{ static_dir }}"
export DATABASE_NAME="{{ db_name }}"
export DATABASE_USER="{{ db_user }}"
export DATABASE_PASSWORD="{{ db_password }}"
